:root {
    --primary-bg: #fffffe;
    --secondary-bg: #e3f6f5;
    --btn-primary-bg: #ffd803;
    --btn-primary-clr: #272343;
    --btn-danger-bg: #bd1616;
    --btn-danger-clr: #ffe6e6;
    --btn-success-bg: #34be82;
    --btn-success-clr: #e3f6f5;
    --heading-clr: #272343;
    --text-clr: #2d334a;
    --border-radius: 0.4rem;
    --border: 2px solid #272343;
    --border-error: 3px solid var(--btn-danger-bg);
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
}

body {
    background-color: var(--primary-bg);
    font-family: "poppins";
    width: 93%;
    max-width: 80rem;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

.c-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    gap: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c-nav__logo {
    color: var(--btn-primary-clr);
    font-size: 1.4rem;
}

.c-btn {
    background-color: var(--bg);
    color: inherit;
    font-weight: 600;
    border-radius: var(--border-radius);
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.c-btn.small {
    height: 2.8rem;
    width: 6.5rem;
    font-size: 0.813rem;
}
.c-btn.medium {
    height: 3.2rem;
    font-size: 0.9rem;
}
.c-btn.large {
    height: 3.5rem;
    width: 8rem;
    font-size: 1rem;
}
.c-btn.primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-clr);
}
.c-btn.secondary {
    background-color: var(--primary-bg);
}
.c-btn.danger {
    background-color: var(--btn-danger-bg);
    color: var(--btn-danger-clr);
}
.c-btn.success {
    background-color: var(--btn-success-bg);
    color: var(--btn-success-clr);
}
.c-btn--submit {
    margin-top: 0.4rem;
    width: 100%;
}
.c-btn--create {
    position: fixed;
    bottom: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--btn-primary-bg);
    border: var(--border);
}
.c-btn--is-read {
    display: flex;
    align-items: center;
    margin-left: 0.3rem;
}

.c-input {
    border: none;
    outline: none;
    height: 3.3rem;
    border: var(--border);
    border-radius: var(--border-radius);
    padding-inline: 0.8rem;
    background-color: var(--primary-bg);
    color: var(--text-clr);
    font-weight: 600;
    font-size: 1rem;
}
.c-input__error-msg {
    font-size: 0.813rem;
    text-transform: capitalize;
    position: relative;
    top: -0.3rem;
}
.c-input--search {
    height: 3rem;
    width: 55%;
    max-width: 25rem;
}
.c-input.is-error {
    border: var(--border-error);
}
.c-input--search::placeholder {
    font-weight: 600;
    color: var(--heading-clr);
    opacity: 0.8;
    font-size: 0.9rem;
}

.c-cross {
    transform: rotate(45deg);
    transition: transform 200ms ease-in;
}
.c-cross.is-clicked {
    transform: rotate(0);
}

.c-book {
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    border: var(--border);
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c-book__title {
    font-weight: 600;
    font-size: 1.1rem;
}
.c-book__author {
    margin-block: 0.5rem;
}
.c-book__wrapper {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.7rem;
}

.c-modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-modal.visible {
    visibility: visible;
}

.current-state {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    gap: 0.2rem;
    width: 80%;
    max-width: 20rem;
}
.current-state__title {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--heading-clr);
}
.current-state__message {
    color: var(--text-clr);
}
.current-state.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
}

.c-form {
    background-color: var(--primary-bg);
    width: 90%;
    max-width: 27rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    padding: 1.5rem;
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}
.c-modal.visible .c-form {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.c-checkbox {
    display: flex;
    align-items: center;
}
.c-checkbox__wrapper {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.c-checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.c-checkbox__checkmark {
    position: absolute;
    top: -13px;
    left: 1rem;
    height: 24px;
    width: 24px;
    background-color: var(--primary-bg);
    border: var(--border);
    border-radius: var(--border-radius);
}
.c-checkbox__wrapper:hover .c-checkbox__input ~ .c-checkbox__checkmark {
    background-color: var(--btn-danger-clr);
}
.c-checkbox__wrapper .c-checkbox__input:checked ~ .c-checkbox__checkmark {
    background-color: var(--secondary-bg);
}
.c-checkbox__checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.c-checkbox__wrapper .c-checkbox__input:checked ~ .c-checkbox__checkmark::after {
    display: block;
}
.c-checkbox__wrapper .c-checkbox__checkmark::after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid var(--heading-clr);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (min-width: 600px) {
    .c-btn.small {
        font-size: 0.9rem;
    }
    .c-btn.large {
        font-size: 1.1rem;
        width: 10rem;
    }
    .c-input--search {
        height: 3.5rem;
    }
    .c-input--search::placeholder {
        font-size: 1rem;
    }
    .c-nav__logo {
        font-size: 1.7rem;
    }
}

@media (min-width: 1000px) {
    .l-grid {
        justify-content: flex-start;
    }
}

@media (min-width: 1300px) {
    .space-between {
        justify-content: space-between;
    }
}
